---
layout: layouts/base.njk
title: Support
templateClass: template-page # Assuming a general page template class, adjust if needed
eleventyNavigation:
  key: Support
  order: 4 # Adjust order as needed
---

include ../partials/head.pug

main#MainContent.main-content(role='main')
  // Use startr.style grid layout: 1 column default, 2 columns medium+, set gap and margin
  .page-width.index-section(style='--d: grid; --gtc: repeat(1, 1fr); --gtc-md: repeat(2, 1fr); --g: 0.2em; --m: 6em auto;')
      // Item 1 (no style changes needed on this element)
      .custom__item
        a(href='https://rawcdn.githack.com/opencoca/eBrain-Snap/fd4ac807c1370d12ffbad5fe985d28f0fe621dda/app/Guidbook/Guidebook.pdf')
          box-sizing.btn(style='--bgc: #2977bc; --c: white; --p: 4em; --minh: 16em; --d: flex; --fd: column; --jc: center; --h:100%')
            .medium-up--text-center
              h4.h3 Instruction Manual
              .rte-setting
                p(style='color: white;') Follow this guide book to get started with your kit!
      // Item 2 (no style changes needed on this element)
      .custom__item
        a(href='https://github.com/Robot-In-A-Can/eBrain-Snap/archive/master.zip')
          box-sizing.btn(style='--bgc: #223740; --c: white; --p: 4em; --minh: 16em; --d: flex; --fd: column; --jc: center; --h:100%')
            .medium-up--text-center
              h4.h3 Download Snap!
              .rte-setting
                p(style='color: white;') Download our custom Snap! Software for more advanced coding.
      // Item 3: Span 2 columns on medium screens and up
      .custom__item(style='--gc-md: span 2;')
        a(href='/../../../forum')
          // Removed redundant --w: 100% as grid handles width
          box-sizing.btn(style='--p: 4em; --minh: 16em; --d: flex; --fd: column; --jc: center; --h:100%')
            .medium-up--text-center
              h4.h3 Forum and FAQ!
              .rte-setting
                p Join our community any start collaborating today!

include ../partials/footer.pug
