.row(style="--mt:0.8rem;")
  a.column(href='https://robotinacan.com/products/dev-board-1-7' target='_blank')
    .button.accent(style='--levitate-hvr:8; --bgc: #223740; \
    color: white; \
    padding: 4em; \
    min-height: 16.5em;\
    display: flex;\
    justify-content: center;\
    align-items: center;')
      .medium-up--text-center
        h3(style='margin: 0 0;')
          | Get started today with our latest development
          | board!
  a.column(href='https://robotinacan.com/pages/support' target='_blank')
    .button.accent(style='--levitate-hvr:8; --bgc: #2977bc; \
    color: white; padding: 4em; \
    min-height: 16.6em; \
    display: flex;\
    justify-content: center;\
    align-items: center;')
      .medium-up--text-center
        h3(style='margin:0')
          | Students and Teachers Start your Education journey
          | here!