#shopify-section-1511320570161.shopify-section.index-section
  .page-width(data-section-id='1511320570161' data-section-type='quotes')
    .section-header.text-center
      h2 Learning With Us Is Different
    .quotes-wrapper
      #Quotes-1511320570161.quotes-slider(data-count='6')
        .quotes-slide--1511320570161-1
          blockquote.quotes-slider__text.text-center
            span.quote-icon
              svg.icon.icon-quote(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 41 35')
                path(d='M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z' fill='#000' fill-rule='evenodd')
            .rte-setting
              p
                | When asked, my child rated this year&apos;s camp as a 10, telling me it was the
                | BEST tech camp he has ever been in. He has been attending tech camp since
                | entering grade 2 - that says a lot.
        .quotes-slide--1527686925427
          blockquote.quotes-slider__text.text-center
            span.quote-icon
              svg.icon.icon-quote(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 41 35')
                path(d='M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z' fill='#000' fill-rule='evenodd')
            .rte-setting
              p
                | The experience in the lab was incredible! I&rsquo;ve never taken a class like
                | this. I didn&rsquo;t know anything about systems, programs, or anything like
                | that. I thought it was super interesting that in only one class we can learn
                | so much.
        .quotes-slide--1511320570161-2
          blockquote.quotes-slider__text.text-center
            span.quote-icon
              svg.icon.icon-quote(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 41 35')
                path(d='M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z' fill='#000' fill-rule='evenodd')
            .rte-setting
              p
                | Keep up the great work! There is only so much Game Design or Robotics a child
                | can do. Maker-Camp offered that new experience. Thank you.
        .quotes-slide--1527687246683
          blockquote.quotes-slider__text.text-center
            span.quote-icon
              svg.icon.icon-quote(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 41 35')
                path(d='M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z' fill='#000' fill-rule='evenodd')
            .rte-setting
              p
                | Regardless of the capacities and abilities of each student, they accomplished
                | their projects. It&rsquo;s an excellent way to motivate the kids and make
                | them aware of everything they are capable of doing and achieving.
        .quotes-slide--1511320890858
          blockquote.quotes-slider__text.text-center
            span.quote-icon
              svg.icon.icon-quote(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 41 35')
                path(d='M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z' fill='#000' fill-rule='evenodd')
            .rte-setting
              p
                | He really enjoyed himself and he learned things I cannot teach him, so keep
                | up the great work!
        .quotes-slide--1527687345796
          blockquote.quotes-slider__text.text-center
            span.quote-icon
              svg.icon.icon-quote(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 41 35')
                path(d='M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z' fill='#000' fill-rule='evenodd')
            .rte-setting
              p
                | I would love to see more programs like this. It would be great to see more
                | people getting involved and learning about this! Only a few people did the
                | workshop today but in the future it could be entire schools that participate
                | in this type of experience
