.social-sharing
  a(target='_blank' href='https://www.facebook.com/sharer.php?u=https://robotinacan.com/products/robot-in-a-can' title='Share on Facebook')
    img(src='https://img.shields.io/badge/-share-red?style=for-the-badge&logo=Facebook&logoColor=white&color=blue')
    span.share-title(aria-hidden='true') Share
    span.visually-hidden Share on Facebook
  a(target='_blank' href='https://twitter.com/share?text=Robot-In-A-Can&url=https://robotinacan.com/products/robot-in-a-can' title='Tweet on Twitter')
    img(src='https://img.shields.io/badge/-Tweet-red?style=for-the-badge&logo=Twitter&logoColor=white&color=lightblue')
    span.share-title(aria-hidden='true') Tweet
    span.visually-hidden Tweet on Twitter
  a(target='_blank' href='https://pinterest.com/pin/create/button/?url=https://robotinacan.com/products/robot-in-a-can&media=//cdn.shopify.com/s/files/1/1927/6949/products/canIII_1024x1024.jpg&description=Robot-In-A-Can' title='Pin on Pinterest')
    img(src='https://img.shields.io/badge/-Pin_it-red?style=for-the-badge&logo=Pinterest&logoColor=white&color=red')
    span.share-title(aria-hidden='true') Pin it
    span.visually-hidden Pin on Pinterest
  a(target='_blank' href='https://www.linkedin.com/shareArticle?mini=true&url=https://robotinacan.com/products/robot-in-a-can&title=Robot-In-A-Can&summary=&source=' title='Share on LinkedIn')
    img(src='https://img.shields.io/badge/-link-red?style=for-the-badge&logo=LinkedIn&logoColor=white&color=blue')
    span.share-title(aria-hidden='true') Share
    span.visually-hidden Share on LinkedIn
