.row(style='padding-top:2em')
  .column
    img(src='https://cdn.shopify.com/s/files/1/1927/6949/files/StColumba_KidsFacilwRobots_Brighter2-min_640x360_crop_top@2x.jpg' alt='')
  .column(style='padding-top:2em')
    h4.h3 Educational Experiences
    p
      | At Robot in a Can, we provide unforgettable experiences that put art and
      | design at the centre of technology education.
    a.button(href='/pages/education.html' type='submit' name='Learn%20More')
      span.newsletter__submit-text--large Learn More

.row(style='padding-top:2em; --fd: row-reverse;')
  .column
      .video-container
        iframe(src='https://www.youtube.com/embed/mDzfIgKnfMY?rel=0&showinfo=0&vq=720' allowfullscreen='')
  .column(style='padding-top:2em')
    h4.h3 Robot in a Can Kit
    p
      | Robotics kit that enables you to use everyday and recyclable materials to
      | build projects and learn programming and electronics.
    a.button(href='/products/robot-in-a-can.html')
      span Learn More