---
layout: layouts/base.njk
title: Home
templateClass: template-index
eleventyNavigation:
  key: Home
  order: 1
---
main#MainContent.main-content.--fullwidth(role='main')
  include partials/hero.pug
  include partials/call_to_action_cards.pug
  include partials/call_out.pug
  include partials/video_cards.pug
  br
  include partials/slideshow.pug
  include partials/quotes.pug
  include partials/email_signup.pug
  include partials/footer.pug