---
layout: layouts/base.njk
title: Home
templateClass: template-index
eleventyNavigation:
  key: Home
  order: 1
---

<!-- BEGIN content_for_index -->
<div >
  <div class="hero hero--large hero__overlay" style="background-image: url('/imgs/bg/RobotOnLightKraft_190704_2048x.jpg'); background-position: center center;">
    <div class="hero__inner">
      <div class="page-width text-center">
        <h2 class="h1 mega-title mega-title--large">The world needs more curious, creative, and confident kids.</h2>
      </div>
    </div>
  </div>
  <div style='--bxs: border-box; --pt: 55px; text-size-adjust: 100%; color: rgb(41, 119, 188); --ff: "Nunito Sans", sans-serif; font-size: 18px; line-height: 27px; --bgc: rgb(255, 255, 255);'>
    <div style="--bxs: border-box; margin: auto; max-width: 1200px; --pt: 45px; padding-left: 55px; padding-right: 55px;">
      <div style="--bxs: border-box; align-items: stretch; display: flex; flex-wrap: wrap; margin-bottom: -30px; margin-left: -30px; width: 1120px;">
        <style>
          .custom__item--fb3e7fb3-8817-48b2-8a59-fa6fd8e31013 .custom__image {
            max-height: 530px;
          }
        </style>
        <div style="--bxs: border-box; width: 560px; flex: 0 0 auto; margin-bottom: 30px; max-width: 100%; padding-left: 30px;">
          <div style="--bxs: border-box; display: block; max-width: 100%; position: relative; text-align: left;">
            <a href="/products/dev-board-1-7" style="--bxs: border-box; --bgc: rgba(0, 0, 0, 0); touch-action: manipulation; color: rgb(41, 119, 188); --td: none solid rgb(41, 119, 188);" >
              <div style='--bxs: border-box; appearance: none; --bgc: rgb(34, 55, 64); border-radius: 2px; color: rgb(255, 255, 255); cursor: pointer; display: flex; --ff: "Varela Round", sans-serif; font-size: 16px; --weight: 800;  padding: 64px; text-align: left; --td: none solid rgb(255, 255, 255); text-transform: uppercase; white-space: normal; user-select: none; vertical-align: middle; max-width: 100%; position: relative; min-height: 264px; justify-content: center; align-items: center; border: 1px solid rgba(0, 0, 0, 0);'>
                <div style="--bxs: border-box; text-align: center;">
                  <h3 style='--bxs: border-box; --ff: "Varela Round", sans-serif; --weight: 800; line-height: 38.4px; margin: 0px; overflow-wrap: break-word; font-size: 32px; letter-spacing: normal;'>
                  Get started today with our latest development board!
                </h3>
                </div>
              </div>
            </a>
          </div>
        </div>
        <style>
          .-d01e-4f40-b375-62119a11bcb9 .custom__image {
            max-height: 530px;
          }
        </style>
        <div style="--bxs: border-box; width: 560px; flex: 0 0 auto; margin-bottom: 30px; max-width: 100%; padding-left: 30px;">
          <div style="--bxs: border-box; display: block; max-width: 100%; position: relative; text-align: left;">
            <a href="./pages/support" style="--bxs: border-box; --bgc: rgba(0, 0, 0, 0); touch-action: manipulation; color: rgb(41, 119, 188); --td: none solid rgb(41, 119, 188);" >
              <div style='--bxs: border-box; appearance: none; --bgc: rgb(41, 119, 188); border-radius: 2px; color: rgb(255, 255, 255); cursor: pointer; display: flex; --ff: "Varela Round", sans-serif; font-size: 16px; --weight: 800;  padding: 64px; text-align: left; --td: none solid rgb(255, 255, 255); text-transform: uppercase; white-space: normal; user-select: none; vertical-align: middle; max-width: 100%; position: relative; min-height: 265.6px; justify-content: center; align-items: center; border: 1px solid rgba(0, 0, 0, 0);'>
                <div style="--bxs: border-box; text-align: center;">
                  <h3 style='--bxs: border-box; --ff: "Varela Round", sans-serif; --weight: 800; line-height: 38.4px; margin: 0px; overflow-wrap: break-word; font-size: 32px; letter-spacing: normal;'>
                  Students and Teachers Start your Education journey here!
                </h3>
                  <div style="--bxs: border-box;"></div>
                </div>
              </div>
            </a>
            <h3 style='--bxs: border-box; --ff: "Varela Round", sans-serif; --weight: 800; line-height: 43.2px; margin: 0px 0px 17.5px; overflow-wrap: break-word; font-size: 36px; letter-spacing: normal;'>
              <a href="" style="--bxs: border-box; --bgc: rgba(0, 0, 0, 0); touch-action: manipulation; color: rgb(41, 119, 188); --weight: 800; --td: none solid rgb(41, 119, 188);"></a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style='--bxs: border-box; 
  --pt: 55px; text-size-adjust: 100%; --c: rgb(41, 119, 188); 
  --ff: "Nunito Sans", sans-serif; font-size: 18px; line-height: 27px; --bgc: rgb(255, 255, 255); --mb: 2em'>
  <div style="background-image: url('/imgs/bg/thinking_preville.png'); 
  background-position: center center; 
  --bxs: border-box; 
  background-position: 50% 50%; 
  background-repeat: no-repeat; 
  background-size: cover;  
  --h: 475px; 
  position: relative; 
  --w: 100vw;
  --d: flex;
  --fd: column;
  --jc: center;">

    <h2 class="lead" style="--ta: center; --c:white">We help ignite imaginations and build skills with<br/>STEAM activities for learners of all ages.</h2>

  </div>
</div>

<div style="--d:flex; 
    gap:2em; 
    --jc: center;
    --ai: center;
    --mb:2em">
  <img alt="" class="custom__image" src="/imgs/StColumba_KidsFacilwRobots_Brighter2-min_640x360_crop_top@2x.jpg"/>
  <div>

    <h4 class="h3">Educational Experiences</h4>

    <p>At Robot in a Can, we provide unforgettable experiences that put art and design at the centre of technology education. </p>

    <a class="btn button" href="/blog/" name="Learn%20More" type="submit">
      <span class="newsletter__submit-text--large">Learn More</span>
    </a>
  </div>
</div>

<div  style="--d:flex; 
    gap:2em; 
    --jc: center;
    --ai: center;">
  
  <div>
    <h4 class="h3">Robot in a Can Kit</h4>
    <p>Robotics kit that enables you to use everyday and recyclable materials to build projects and learn programming and electronics.</p>
      <a class="btn" href="/products/robot-in-a-can/">
    <span>Learn More</span>
  </a>
  </div>
  <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/mDzfIgKnfMY?rel=0&amp;showinfo=0&amp;vq=720" width="850"></iframe>
</div>
<div style="--pt:2em">

</div>

</div>
</div>
<style>
.custom__image {
max-height: 530px;
}
</style>



</div>
</div>
</div>
<div >
<div data-section-id="1540540400621" data-section-type="slideshow-section">
<div class="slideshow-wrapper">
<button aria-live="polite" class="visually-hidden slideshow__pause" data-id="1540540400621" type="button">
<span class="slideshow__pause-stop">
<svg aria-hidden="true" class="icon icon-pause" focusable="false" role="presentation" viewbox="0 0 10 13">
  <g fill="#000" fill-rule="evenodd">
    <path d="M0 0h3v13H0zM7 0h3v13H7z"></path>
  </g>
</svg>
<span class="icon__fallback-text">Pause slideshow</span>
</span>
<span class="slideshow__pause-play">
<svg aria-hidden="true" class="icon icon-play" focusable="false" role="presentation" viewbox="0 0 18 32">
  <path d="M.263 0l17.071 15.944L.264 31.89" fill="#444" fill-rule="evenodd"></path>
</svg>
<span class="icon__fallback-text">Play slideshow</span>
</span>
</button>
<div class="slideshow slideshow--small" data-autoplay="true" data-speed="5000" id="Slideshow-1540540400621">
<div class="slideshow__slide slideshow__slide--1557958977748">
<div class="slideshow__image" style="background-image: url('/imgs/bg/Blue-Students_190704_2048x.jpg'); background-position: top;"></div>
<div class="slideshow__text-wrap slideshow__overlay">
  <div class="slideshow__text-content">
    <div class="page-width">
      <h2 class="h1 mega-title slideshow__title">
                      Designed for exploration
                    </h2>
      <span class="mega-subtitle slideshow__subtitle">
                      Quick to setup and easy to use, start exploring the world of technology in the classroom or at home
                    </span>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<div >
<div class="page-width" data-section-type="quotes" style="--mt:1em">
<div class="section-header text-center">
<h2>Learning With Us Is Different</h2>
</div>
<div class="quotes-wrapper">
<div class="quotes-slider" data-count="6" id="Quotes-1511320570161">
<div class="quotes-slide--1511320570161-1">
<blockquote class="quotes-slider__text text-center">
  <span class="quote-icon">
    <svg aria-hidden="true" class="icon icon-quote" focusable="false" role="presentation" viewbox="0 0 41 35">
      <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"></path>
    </svg>
  </span>
  <div class="rte-setting">
    <p>When asked, my child rated this year's camp as a 10, telling me it was the BEST tech camp he has ever been in. He has been attending tech camp since entering grade 2 - that says a lot.</p>
  </div>
</blockquote>
</div>
<div class="quotes-slide--1527686925427">
<blockquote class="quotes-slider__text text-center">
  <span class="quote-icon">
    <svg aria-hidden="true" class="icon icon-quote" focusable="false" role="presentation" viewbox="0 0 41 35">
      <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"></path>
    </svg>
  </span>
  <div class="rte-setting">
    <p>The experience in the lab was incredible! I've never taken a class like this. I didn't know anything about systems, programs, or anything like that. I thought it was super interesting that in only one class we can learn so much.</p>
  </div>
</blockquote>
</div>
<div class="quotes-slide--1511320570161-2">
<blockquote class="quotes-slider__text text-center">
  <span class="quote-icon">
    <svg aria-hidden="true" class="icon icon-quote" focusable="false" role="presentation" viewbox="0 0 41 35">
      <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"></path>
    </svg>
  </span>
  <div class="rte-setting">
    <p>Keep up the great work! There is only so much Game Design or Robotics a child can do. Maker-Camp offered that new experience. Thank you.</p>
  </div>
</blockquote>
</div>
<div class="quotes-slide--1527687246683">
<blockquote class="quotes-slider__text text-center">
  <span class="quote-icon">
    <svg aria-hidden="true" class="icon icon-quote" focusable="false" role="presentation" viewbox="0 0 41 35">
      <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"></path>
    </svg>
  </span>
  <div class="rte-setting">
    <p>Regardless of the capacities and abilities of each student, they accomplished their projects. It's an excellent way to motivate the kids and make them aware of everything they are capable of doing and achieving.</p>
  </div>
</blockquote>
</div>
<div class="quotes-slide--1511320890858">
<blockquote class="quotes-slider__text text-center">
  <span class="quote-icon">
    <svg aria-hidden="true" class="icon icon-quote" focusable="false" role="presentation" viewbox="0 0 41 35">
      <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"></path>
    </svg>
  </span>
  <div class="rte-setting">
    <p>He really enjoyed himself and he learned things I cannot teach him, so keep up the great work!</p>
  </div>
</blockquote>
</div>
<div class="quotes-slide--1527687345796">
<blockquote class="quotes-slider__text text-center">
  <span class="quote-icon">
    <svg aria-hidden="true" class="icon icon-quote" focusable="false" role="presentation" viewbox="0 0 41 35">
      <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"></path>
    </svg>
  </span>
  <div class="rte-setting">
    <p>I would love to see more programs like this. It would be great to see more people getting involved and learning about this! Only a few people did the workshop today but in the future it could be entire schools that participate in this type of experience</p>
  </div>
</blockquote>
</div>
</div>
</div>
</div>
</div>
<div >
<div class="newsletter-section" style="--bgc:#2977bc; --pt: 55px; --pb: 55px; --m:auto">
<div class="page-width text-center">
<div class="section-header text-center">
<label class="h2" for="Email">sign up now</label>
<p>When the robots take over, you will be treated favourably.</p>
</div>
{% include "partials/mailing-list-signup.njk" %}

</div>
</div>
</div>
<!-- END content_for_index -->
<section class="customer-testimonials"
  style="--p: 50px 0; --maxw:80rem; --m:auto">
<h2 style="--ta:center">What Our Customers Say</h2>
<div class="testimonial-slider">
<div class="testimonial"
      style="--maxw:40rem; --m:auto">
<blockquote>"Robot in a Can made it so easy for my students to learn robotics!"</blockquote>
<cite style="float:right">- John D., Teacher</cite>
</div>
</div>
</section>