<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <!-- Main Footer Links -->
    <div class="grid grid--no-gutters">
      <div class="grid__item text-center">
        <ul class="site-footer__linklist site-footer__linklist--center">
          <li class="site-footer__linklist-item">
            <a href="{{ '/search/' | url }}">Search</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="https://github.com/Robot-In-A-Can">Open Source Manual Downloads, Designs, &amp; Code</a>
          </li>
        </ul>
      </div>
      <!-- Navigation Links -->
      <div class="grid__item text-center">
        <ul class="site-footer__linklist site-footer__linklist--center">
          <li class="site-footer__linklist-item">
            <a href="{{ '/' | url }}">Home</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ '/pages/education/' | url }}">Education</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ '/products/robot-in-a-can/' | url }}">The Kit</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ '/pages/support/' | url }}">Support</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ '/blog/' | url }}">Blog</a>
          </li>
        </ul>
      </div>
    </div>
    
    <!-- Social Media and Copyright -->
    <div class="grid grid--no-gutters">
      <div class="grid__item text-center">
        <ul class="list--inline site-footer__social-icons social-icons">
          <li>
            <a class="social-icons__link" href="https://facebook.com/robotinacan" title="Robot In A Can on Facebook">
              <svg aria-hidden="true" class="icon icon-facebook" focusable="false" role="presentation" viewbox="0 0 20 20">
                <path d="M18.05.811q.439 0 .744.305t.305.744v16.637q0 .439-.305.744t-.744.305h-4.732v-7.221h2.415l.342-2.854h-2.757v-1.83q0-.659.293-1t1.073-.342h1.488V3.762q-.976-.098-2.171-.098-1.634 0-2.635.964t-1 2.72V9.47H7.951v2.854h2.415v7.221H1.413q-.439 0-.744-.305t-.305-.744V1.859q0-.439.305-.744T1.413.81H18.05z" fill="#444"></path>
              </svg>
              <span class="icon__fallback-text">Facebook</span>
            </a>
          </li>
          <li>
            <a class="social-icons__link" href="https://twitter.com/robotinacan" title="Robot In A Can on Twitter">
              <svg aria-hidden="true" class="icon icon-twitter" focusable="false" role="presentation" viewbox="0 0 20 20">
                <path d="M19.551 4.208q-.815 1.202-1.956 2.038 0 .082.02.255t.02.255q0 1.589-.469 3.179t-1.426 3.036-2.272 2.567-3.158 1.793-3.963.672q-3.301 0-6.031-1.773.571.041.937.041 2.751 0 4.911-1.671-1.284-.02-2.292-.784T2.456 11.85q.346.082.754.082.55 0 1.039-.163-1.365-.285-2.262-1.365T1.09 7.918v-.041q.774.408 1.773.448-.795-.53-1.263-1.396t-.469-1.864q0-1.019.509-1.997 1.487 1.854 3.596 2.924T9.81 7.184q-.143-.509-.143-.897 0-1.63 1.161-2.781t2.832-1.151q.815 0 1.569.326t1.284.917q1.345-.265 2.506-.958-.428 1.386-1.732 2.18 1.243-.163 2.262-.611z" fill="#444"></path>
              </svg>
              <span class="icon__fallback-text">Twitter</span>
            </a>
          </li>
        </ul>
      </div>
      
      <!-- Copyright and Payment Icons -->
      <div class="grid__item text-center">
        <div class="site-footer__copyright">
          <small class="site-footer__copyright-content">© {{ "2025" }}, <a href="{{ '/' | url }}" title="">Robot In A Can</a>
          </small>

        </div>
      </div>
    </div>
  </div>
</footer>
