<div data-section-id="header" data-section-type="header-section">
  <!-- Mobile Navigation -->
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul class="mobile-nav" id="MobileNav">
      <li class="mobile-nav__item border-bottom">
        <a class="mobile-nav__link" href="{{ '/' | url }}">
          Home
        </a>
      </li>
      <li class="mobile-nav__item border-bottom">
        <a class="mobile-nav__link" href="{{ '/pages/education/' | url }}">
          Education
        </a>
      </li>
      <li class="mobile-nav__item border-bottom">
        <a class="mobile-nav__link" href="{{ '/products/robot-in-a-can/' | url }}">
          The Kit
        </a>
      </li>
      <li class="mobile-nav__item border-bottom">
        <a class="mobile-nav__link" href="{{ '/pages/support/' | url }}">
          Support
        </a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="{{ '/blog/' | url }}">
          Blog
        </a>
      </li>
    </ul>
  </nav>

  <!-- Desktop Header -->
  <header class="site-header border-bottom logo--left" role="banner">
    <div class="grid grid--no-gutters grid--table">
      <!-- Logo -->
      <div class="grid__item small--one-half medium-up--one-quarter logo-align--left">
        <h1 class="h2 site-header__logo" itemscope="" itemtype="http://schema.org/Organization">
          <a class="site-header__logo-image" href="{{ '/' | url }}" itemprop="url">
            <img alt="Robot In A Can" itemprop="logo" src="/imgs/NewRobotLogo_190704_115x.png" srcset="https://cdn.shopify.com/s/files/1/1927/6949/files/NewRobotLogo_190704_115x.png 1x, /imgs/NewRobotLogo_190704_115x@2x.png 2x"/>
          </a>
        </h1>
      </div>

      <!-- Desktop Navigation -->
      <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
        <ul class="site-nav list--inline" id="SiteNav">
          <li class="{% if page.url == '/' %}site-nav--active{% endif %}">
            <a class="site-nav__link site-nav__link--main" href="{{ '/' | url }}">Home</a>
          </li>
          <li class="{% if '/pages/education/' in page.url %}site-nav--active{% endif %}">
            <a class="site-nav__link site-nav__link--main" href="{{ '/pages/education/' | url }}">Education</a>
          </li>
          <li class="{% if '/products/robot-in-a-can' in page.url %}site-nav--active{% endif %}">
            <a class="site-nav__link site-nav__link--main" href="{{ '/products/robot-in-a-can/' | url }}">The Kit</a>
          </li>
          <li class="{% if '/pages/support/' in page.url %}site-nav--active{% endif %}">
            <a class="site-nav__link site-nav__link--main" href="{{ '/pages/support/' | url }}">Support</a>
          </li>
          <li class="{% if '/blog/' in page.url %}site-nav--active{% endif %}">
            <a class="site-nav__link site-nav__link--main" href="{{ '/blog/' | url }}">Blog</a>
          </li>
        </ul>
      </nav>

      <!-- Action Icons (Search, Account, Cart) -->
      <div class="grid__item small--one-half medium-up--one-quarter text-right site-header__icons site-header__icons--plus">
        <div class="site-header__icons-wrapper">
          <!-- Search Icon -->
          <div class="site-header__search small--hide"></div>
          <button class="btn--link site-header__search-toggle js-drawer-open-top medium-up--hide" type="button">
            <svg aria-hidden="true" class="icon icon-search" focusable="false" role="presentation" viewbox="0 0 37 40">
              <path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"></path>
            </svg>
            <span class="icon__fallback-text">Search</span>
          </button>
          
          <!-- Account Icon -->
          <a class="site-header__account" href="{{ '/account/login/' | url }}">
            <svg aria-hidden="true" class="icon icon-login" focusable="false" role="presentation" viewbox="0 0 28.33 37.68">
              <path d="M14.17 14.9a7.45 7.45 0 1 0-7.5-7.45 7.46 7.46 0 0 0 7.5 7.45zm0-10.91a3.45 3.45 0 1 1-3.5 3.46A3.46 3.46 0 0 1 14.17 4zM14.17 16.47A14.18 14.18 0 0 0 0 30.68c0 1.41.66 4 5.11 5.66a27.17 27.17 0 0 0 9.06 1.34c6.54 0 14.17-1.84 14.17-7a14.18 14.18 0 0 0-14.17-14.21zm0 17.21c-6.3 0-10.17-1.77-10.17-3a10.17 10.17 0 1 1 20.33 0c.01 1.23-3.86 3-10.16 3z"></path>
            </svg>
            <span class="icon__fallback-text">Log in</span>
          </a>
          
          <!-- Cart Icon -->
          <a class="site-header__cart" href="{{ '/cart/' | url }}">
            <svg aria-hidden="true" class="icon icon-cart" focusable="false" role="presentation" viewbox="0 0 37 40">
              <path d="M36.5 34.8L33.3 8h-5.9C26.7 3.9 23 .8 18.5.8S10.3 3.9 9.6 8H3.7L.5 34.8c-.2 1.5.4 2.4.9 3 .5.5 1.4 1.2 3.1 1.2h28c1.3 0 2.4-.4 3.1-1.3.7-.7 1-1.8.9-2.9zm-18-30c2.2 0 4.1 1.4 4.7 3.2h-9.5c.7-1.9 2.6-3.2 4.8-3.2zM4.5 35l2.8-23h2.2v3c0 1.1.9 2 2 2s2-.9 2-2v-3h10v3c0 1.1.9 2 2 2s2-.9 2-2v-3h2.2l2.8 23h-28z"></path>
            </svg>
            <span class="visually-hidden">Cart</span>
            <span class="icon__fallback-text">Cart</span>
          </a>
          
          <!-- Mobile Menu Toggle -->
          <button class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open" type="button">
            <svg aria-hidden="true" class="icon icon-hamburger" focusable="false" role="presentation" viewbox="0 0 37 40">
              <path d="M33.5 25h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2zm0-11.5h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2zm0 23h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2z"></path>
            </svg>
            <svg aria-hidden="true" class="icon icon-close" focusable="false" role="presentation" viewbox="0 0 37 40">
              <path d="M21.3 23l11-11c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-11 11-11-11c-.8-.8-2-.8-2.8 0-.8.8-.8 2 0 2.8l11 11-11 11c-.8.8-.8 2 0 2.8.4.4.9.6 1.4.6s1-.2 1.4-.6l11-11 11 11c.4.4.9.6 1.4.6s1-.2 1.4-.6c.8-.8.8-2 0-2.8l-11-11z"></path>
            </svg>
            <span class="icon__fallback-text">expand/collapse</span>
          </button>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Header Logo Styling -->
  <style>
    .site-header__logo-image {
      max-width: 115px;
    }
    .site-header__logo-image {
      margin: 0;
    }
  </style>
</div>
