.hero.--fullwidth(style="--h:24rem; \
--h-sm:15rem; \
--bga: local; \
--bgs: cover; \
--bgi: url('/imgs/milkbot-travels.webp'); \
--bgp: center center;")
  h2.h1.mega-title.mega-title--large.text-center
    | Start Experimenting
    img(src='https://cdn.shopify.com/s/files/1/1927/6949/files/experiment.png' style='height:90px;vertical-align:middle')
