---
layout: layouts/base.njk
title: Dev Board 1.7
templateClass: template-index
eleventyNavigation:
  key: Dev Board 1.7
  order: 2
---

include hero.pug
include ./product-main-content.pug
include ../partials/footer.pug
