.hero.hero--medium.hero__overlay(style="background-image: url('https://cdn.shopify.com/s/files/1/1927/6949/files/milkbot-travels.png'); background-position: center center;")
  .hero__inner
    .page-width.text-center
      h2.h1.mega-title.mega-title--large
        | Start Experimenting
        img(src='https://cdn.shopify.com/s/files/1/1927/6949/files/experiment.png' style='height:90px;vertical-align:middle')
