---
layout: layouts/base.njk
title: Robot in a Can
templateClass: template-index
eleventyNavigation:
  key: Robot in a Can
  order: 1
---

include ../partials/head.pug
include ../partials/header.pug
include hero.pug
include product-main-content.pug
include ../partials/footer.pug
